@import 'https://fonts.googleapis.com/css?family=Roboto';

*
{
	font-family: 'Roboto', serif;
	color: #1a1a1a;
	max-height: 999999px; /* disable Chrome Mobile's font-boosting feature/bug */
}

a
{
	text-decoration: none;
}

body
{
	background-color: #f6f6f6;
}

.card
{
	padding: 10px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 1px 1px 4px #d3d3d3;
}