@import 'https://fonts.googleapis.com/css?family=Roboto';

*
{
	font-family: 'Roboto', serif;
	color: #1a1a1a;
}

a
{
	text-decoration: none;
}

header
{
	background-color: white;
	border-radius: 2px;
	box-shadow: 1px 1px 4px #d3d3d3;
}

body
{
	background-color: #f6f6f6;
}

.item_small, .item_cart, #customer_info_form
{
	background-color: white;
	border-radius: 2px;
	box-shadow: 1px 1px 4px #d3d3d3;
}